:root {
    --bg: #1f1f21;
    --card: #3c3c3c;
    --card-border: #131313;
    --button: #d5d5d5;
    --button-active: #898989;
    --button-border: #c7c7c7;
    --text-black: #121212;
    --text-white: #e0e0e0;
    --text-gray: #9e9e9e;
    --text-light-gray: #e0e0e0;
    --accent: #e0e0e0;
}

body {
    font-family: sans-serif;
    background: var(--bg);
    color: var(--text-white);
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
    align-self: center;
    justify-self: center;
}

input, textarea {
    background: #111;
    border: 1px solid var(--border);
    border-radius: 6px;
    color: var(--text);
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    font-family: monospace;
    resize: none;
}

input:focus, textarea:focus {
    outline: 1px solid var(--accent);
}

fieldset {
    background: var(--card);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 22px;
}
legend {
    font-weight: bold;
    color: var(--text-light-gray);
    padding: 0 6px;
}
button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button);
}
button:active {
    background-color: var(--button-active);
}